<h1 class="text-center">Your Tasks</h1>
<div class="container">
  <ul style="list-style: none">
    <% @tasks.each do |task| %>
      <li>
      <input type="checkbox" name="completed" id="<%=task.id%>" <%= task.completed ? "checked" : "" %>><%= link_to task.title, task_path(task.id)%>
      </li>
    <% end %>
  </ul>
</div>
<div class="container">
  <%= link_to "+ Add a Task", new_task_url %>
</div>
